$cores-nautika-cinza-escuro: #2E2E2E;
$cores-nautika-primria-amarelo: #FF9A00;
$cores-nautika-primria-preto: #000000;
$cores-nautika-primria-branco: #fff;
$cores-nautika-cinza-claro-background: #F2F2F2;
$cores-nautika-primaria-branco: #fff;
$cores-nautika-secundria-laranja: #E86009;
$cores-nautika-secundria-marrom: #6E2F09;
$cores-nautika-secundria-verde-escuro: #364317;
$cores-nautika-secundria-azul-escuro: #005EBC;