.article {
    .main {
        .breadcrumb-item {
            &:last-child {


                @include device(sm) {
                    overflow: hidden;

                    a {

                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        position: relative;


                    }
                }

            }
        }

        .post {
            margin-top: 32px;


            @include device(xl) {
                gap: 16px;
            }

            .header-post {
                grid-area: top-page;
                margin-bottom: 50px;

                .title-post {
                    color: $cores-nautika-primria-preto;
                    font-size: 3.2rem;
                    font-family: Henriette;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 24px;

                    @include device(sm) {
                        font-size: 2.4rem;
                    }
                }

                .content__signa-share {
                    @include flex(row,
                        space-between,
                        center);
                    margin-bottom: 24px;

                    @include device(sm) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                    }

                    .content__signature {
                        .content-publication-data__from {
                            color: $cores-nautika-primria-preto;
                            font-family: Mundial;
                            font-size: 1.4rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .content-publication-time__read {
                            font-family: Mundial;
                            font-size: 1.4rem;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            color: $cores-nautika-primria-preto;
                        }
                    }


                }


            }

            .content__share {
                @include flex(row,
                    flex-start,
                    center);
                gap: 8px;

                .content-share__text {
                    color: $cores-nautika-primria-preto;
                    font-family: Mundial;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .content-share__icons {
                    @include flex(row,
                        flex-start,
                        center);
                    gap: 16px;

                    .content-share__icon {
                        width: 20px;
                        height: 20px;
                    }


                }
            }

            .col-posts {
                width: 100%;

                @include device(xl) {
                    display: flex;
                    flex-direction: column;
                }

                .articleBody {
                    padding-right: 100px;

                    @include device(xl) {
                        padding-right: 0px;
                    }

                    p,
                    .content-text__container {
                        font-family: Henriette;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 400;

                        color: $cores-nautika-primria-preto;
                        line-height: 24px;
                        margin-bottom: 16px;

                        a {
                            color: $cores-nautika-primria-amarelo;
                            text-decoration-line: underline;
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            font-family: Henriette;
                        }
                    }

                    h2,
                    .content-title__container {
                        font-size: 2.4rem;
                        font-family: Henriette;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 36px;
                        color: $cores-nautika-primria-preto;
                        margin-bottom: 16px;
                        margin-top: 30px;

                        a {
                            font-size: 2.4rem;
                            font-style: normal;
                            font-weight: 700;
                            text-decoration-line: underline;
                            font-family: Henriette;
                            line-height: 36px;
                            color: $cores-nautika-primria-amarelo;
                        }
                    }

                    ul,
                    .content-list__container {
                        @include flex(column,
                            center,
                            flex-start);
                        gap: 40px;

                    }
                }

                .footer_article {
                    width: 821px;
                    margin-top: 50px;
                    border-top: 1px solid #E3E3E3;
                    padding-top: 50px;
                    gap: 20px;
                    @include flex(row,
                        space-between, flex-start);

                    @include device(xl) {
                        width: 100%;
                    }

                    @include device(l) {
                        flex-direction: column;
                    }

                    .content__share {
                        margin-top: 5px
                    }

                    .post-tags {
                        @include flex(row,
                            flex-start,
                            flex-start);

                        gap: 8px;



                        span {
                            font-family: Mundial;
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                        }

                        .tags {
                            @include flex(row,
                                flex-start,
                                center);
                            flex-wrap: wrap;
                            gap: 8px;

                            a {
                                background-color: #E3E3E3;
                                border-radius: 10px;
                                padding: 8px;
                                font-family: Mundial;
                                font-size: 1.2rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                transition: all 0.2s ease-in-out;

                                &:hover {
                                    background-color: $cores-nautika-primria-amarelo;
                                    color: $cores-nautika-primria-branco;
                                }
                            }
                        }
                    }
                }

            }
        }

        .sidebar {

            @include device(xl) {

                padding: 0;
            }
        }
    }
}